body{background-color: #caa795;
  color:#837D7D;
}
h1{
background-color:#D6D0B8 ;
color:#837D7D ;
}
h2{
background-color: #D6D0B8

}

strong{
  font-size: 40px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#837D7D;
  padding: 40px; ;
}
a{
    color:#837D7D;
    font-size: small;
    background-color:#D6D0B8 ;
    padding: 15px ;
}