
body{

    background-color: #ffbb5c;

}

h1{

    color: #cd5c08;

}

h2{

    color: #cd5c08;

}

h3{

    color: #cd5c08;

}

p{

    color: black;

}

ul{

    color: #e25e3e;

}

a{

    color: #c63d2f;

}

hr{

    border-color: #ff9b50;

}

pre{

    color: black;

}

button{

    color: orangered;

}